[v-cloak] {
  display: none;
}

:root {
  --bs-primary: #184786;
  --bs-primary-rgb: 24, 71, 134;
  --bs-link-color: #184786;
  --bs-link-color-rgb: 24, 71, 134;
  --bs-link-decoration: none;
  --bs-link-hover-color: #184786;
  --bs-link-hover-color-rgb: 24, 71, 134;
  --bs-link-hover-decoration: underline;
}

a {
  text-decoration: var(--bs-link-decoration);
}

a:hover {
  --bs-link-decoration: var(--bs-link-hover-decoration);
}

.highlight pre {
  padding: 0.25rem 0.5rem;
}

img {
  max-width: 100%;
  height: auto;
}

li.linkedin-share-button > span {
  vertical-align: baseline !important;
}