{{ define "main" }}
  {{- if not (strings.Contains .Permalink "static/") }}
  {{- $packageName := path.Dir .File.Dir }}

  <ul class="nav gap-1 mb-3">
    {{- range (.GetTerms "tags") }}
    <li class="nav-item"><a href="{{ printf "/?%s" ((querify "q" .LinkTitle) | safeURL) }}" class="badge text-primary border border-primary">{{ .LinkTitle }}</a></li>
    {{- end }}
  </ul>

  <ul class="nav gap-1 mb-3">
    <li class="nav-item"><a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false" data-hashtags="OptunaHub">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></li>
    <li class="nav-item linkedin-share-button"><script src="https://platform.linkedin.com/in.js" type="text/javascript"></script><script type="IN/Share" data-url="{{ .Permalink }}"></script></li>
  </ul>

  <dl>
    <dt class="float-start me-2">Package</dt>
    <dd class="clearfix mb-1"><a href="https://github.com/optuna/optunahub-registry/tree/main/package/{{ $packageName }}">{{ $packageName }}</a></dd>
    <dt class="float-start me-2">Author</dt>
    <dd class="clearfix mb-1">{{ .Params.author }}</dd>
    <dt class="float-start me-2">License</dt>
    <dd class="clearfix mb-1">{{ .Params.license }}</dd>
    <dt class="float-start me-2">Verified Optuna version</dt>
    <dd class="clearfix mb-1">
      <ul class="m-0">
        {{- range (.GetTerms "optuna_versions") }}
        <li class="d-inline">{{ .LinkTitle }}</li>
        {{- end }}
      </ul>
    </dd>
    <dt class="float-start me-2">Last update</dt>
    <dd class="clearfix mb-1">{{ .Params.updated_at }}</dd>
  </dl>
  {{- end }}

  {{ .Content }}
{{ end }}
