<div id="tableListBox" style="display: flex; justify-content: space-between; margin: 0px; flex-wrap: wrap; flex-shrink: 0;">
  {{- range .RegularPagesRecursive.ByLastmod.Reverse}}
    {{- if strings.Contains .Permalink "static/" -}}{{continue}}{{end -}}
    {{- $is_visualization := strings.Contains .Permalink "visualization/" }}
    {{- if $is_visualization}}
      <div class="package-box">
        <table style="margin: 0.2rem; height: 100%;">
          <thead>
            <tr><th><a href="{{.Permalink}}">{{ .Title }}</a></th></tr>
          </thead>
          <tbody>
            <tr>
              <td style="text-align: left; vertical-align: top;">
                <div style="display: inline-flex; flex-shrink: 0;">
                  <figure style="margin: 1rem 1rem 0 0; width: 40%;">
                    <a href="{{.Permalink}}"><img src="{{ .Permalink }}images/thumbnail.png" width="100%" onerror="this.parentNode.parentNode.style.display='none'" /></a>
                  </figure>
                  <p>
                    {{ .Description }}
                  </p>
                </div>
              </td>
            </tr>
            <tr>
              <td valign="bottom">
                <ul class="tagsList">
                  {{- range (.GetTerms "tags") }}
                  <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
                  {{- end }}
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    {{- else }}
      <div class="package-box">
        <table style="margin: 0.2rem; height: 100%;">
          <thead>
            <tr><th><a href="{{.Permalink}}">{{ .Title }}</a></th></tr>
          </thead>
          <tbody>
            <tr>
              <td style="text-align: left; vertical-align: top;">
                <div style="display: inline-flex; flex-shrink: 0;">
                  <p>
                    {{ .Description }}
                  </p>
                </div>
              </td>
            </tr>
            <tr>
              <td valign="bottom">
                <ul class="tagsList">
                  {{- range (.GetTerms "tags") }}
                  <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
                  {{- end }}
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    {{- end }}
  {{- end }}
</div>
