<nav class="navbar navbar-expand-lg sticky-top shadow-sm bg-body">
  <div class="container">
    <a class="navbar-brand" href="https://optuna.org/">
      <img src="{{ (resources.Get "img/optuna-logo.png").RelPermalink }}" srcset="{{ (resources.Get "img/optuna-logo@2x.png").RelPermalink }} 2x, {{ (resources.Get "img/optuna-logo@3x.png").RelPermalink }} 3x" loading="lazy" style="height:48px" alt="Optuna Logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item text-center fw-bold">
          <a class="nav-link" href="https://optuna.org/#key_features">Key Features</a>
        </li>
        <li class="nav-item text-center fw-bold">
          <a class="nav-link" href="https://optuna.org/#code_examples">Code Examples</a>
        </li>
        <li class="nav-item text-center fw-bold">
          <a class="nav-link" href="https://optuna.org/#installation">Installation</a>
        </li>
        <li class="nav-item text-center fw-bold">
          <a class="nav-link" href="https://optuna.org/#dashboard">Dashboard</a>
        </li>
        <li class="nav-item text-center fw-bold">
          <a class="nav-link" href="{{ .Site.BaseURL }}">OptunaHub</a>
        </li>
        <li class="nav-item text-center fw-bold">
          <a class="nav-link" href="https://optuna.org/#blog">Blog</a>
        </li>
        <li class="nav-item text-center fw-bold">
          <a class="nav-link" href="https://optuna.org/#video">Videos</a>
        </li>
        <li class="nav-item text-center fw-bold">
          <a class="nav-link" href="https://optuna.org/#papers">Papers</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
